#logo {
  margin-left: 3rem;
}

#main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.nav-items li {
  margin: 0 3rem;
}

#login-button {
  margin-left: 10rem;
}
