body {
  font-family: sans-serif;
  overflow: auto;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 50vh;
}

#main-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background-color: white;
  /* background: linear-gradient(135deg, #2c6e49 0%, #4e9f76 51%, #66ed4c 100%);
  opacity: 1; */
  border-bottom: 2px solid #ddd;
  background: linear-gradient(135deg, #e6f5e9 0%, #a7e3bb 50%, #76c57a 100%);
}

#logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 90px;
  margin: 0;
  padding: 0;
}
.nav-items li {
  position: relative;
}
.nav-items a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  min-width: 180px;
}
.dropdown-menu li {
  padding: 5px 15px;
}
.dropdown-menu a {
  display: block;
  padding: 5px 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
#login-button a {
  border: 2px solid grey;
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#login-button a:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

li a {
  font-size: 18px;
}

li a:hover {
  cursor: pointer;
  background-color: rgb(221, 220, 220);
  transition: transform 0.1 s ease;
  border-radius: 4px;
}

.progress-bar {
  background: #eaeaea;
  border-radius: 10px;
  height: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.progress {
  background: linear-gradient(to right, #2c6e49, #4e9f76);
  height: 100%;
  transition: width 0.5s ease;
}


/* .popup {
  margin-left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
} */
