body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

.nonprofit-section {
    text-align: center;
    max-width: 800px;
    margin: 30px auto;
}

.nonprofit-card img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.nonprofit-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px;
}

.nonprofit-card {
    background: white;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid #e5e7eb;
}

.nonprofit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.fundraiser-tag {
    display: inline-block;
    background: #e0f7fa;
    color: #00796b;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 12px;
    margin-bottom: 8px;
}


h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}


.nonprofit-card p {
    font-size: 13px;
    color: #808080;
}

.info {
    display: flex;
    justify-content: space-around;
    background: #f8f8f8;
    padding: 12px;
    border-radius: 8px;
    margin: 15px 0;
}

.info div {
    text-align: center;
}

.info h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.info p {
    font-size: 12px;
    color: #707070;
}


.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.details-btn,
.select-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}


.details-btn {
    background: #f97316;
    color: white;
    border: 1px solid #f97316;
}

.details-btn:hover {
    background: white;
    color: #f97316;
    border: 1px solid #f97316;
}

.select-btn {
    background: #dc2626;
    color: white;
    border: 1px solid #dc2626;
}

.select-btn:hover {
    background: white;
    color: #dc2626;
    border: 1px solid #dc2626;
}


@media (max-width: 1024px) {
    .nonprofit-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .nonprofit-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 90%;
        margin: auto;
    }
}


@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }
}

